.music-crad{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.details-img{
    width: 200px;
    border-radius: 100px;
}

.btn-music-card{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.btn-music-card-edit{
    background: green;
    border: 0;
    padding: 10px 60px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
}

.btn-music-card-delete{
    background: red;
    border: 0;
    padding: 10px 54px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
}